
.red1{
    background-color: #cc0033;
}

.red2{
    background-color: #cc0066;
}

.red3{
    background-color: #cc3333;
}

.red4{
    background-color: #ff0033;
}
.red5{
    background-color: #ff3366;
}



.blue1{
    background-color: #3333FF;
}
.blue2{
    background-color: #33CCFF;
}
.blue3{
    background-color: #3366FF;
}
.blue4{
    background-color: #3399FF;
}
.blue5{
    background-color: #3300ff;
}


.green1{
    background-color: #00FF00;
}
.green2{
    background-color: #00FF66;
}
.green3{
    background-color: #00CC33;
}
.green4{
    background-color: #00CC99;
}
.green5{
    background-color: #009900;
}